<!-- PAGAR COM O PIX -->
<div class="container">
  <div class="card-body">
    <div>
      <h1>Pix</h1>
      <img
        class="text-center"
        src="https://res.cloudinary.com/ddhbhbxcs/image/upload/v1723350591/b09kh3yuucqe8xnlkkvd.png"
        class="img-fluid"
        alt="QR CODE"
      />
    </div>
  </div>
</div>